<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
	<div class="position-sticky pt-3">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="{{path('admin.dashboard.index')}}">
					<i class="fa-solid fa-house"></i>
					Tableau de bord
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="fa-solid fa-file"></i>
					Commandes
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('admin.category.index')}}">

					<i class="fa-solid fa-layer-group"></i>
					Categories
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('admin.product.index')}}">
					<i class="fa-solid fa-cart-shopping"></i>
					Produits
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="fa-solid fa-users"></i>
					Utilisateurs
				</a>
			</li>

		</ul>


	</div>
</nav>
